
.product-card{
  max-width: 426px;
  margin-bottom: 91px;
  margin-right: 23px;
  display: flex;
  flex-direction: column;
  border-radius: 22px;
  .footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 94px;
    flex-shrink: 0;
    background-color: #EEEEEE;
    justify-content: space-around;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
    padding: 40px;
    align-items: center;

    p{
      margin-right: 20px;
      color: #000;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .price {
      color: #000;
      text-align: center;
      font-family: Poppins;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

}

.zoomWrapper {
  background: white;
  overflow: hidden;
  padding: 92px 18px 0px 19px;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.zoomWrapper img {
  max-width: 100%;
  height: auto;
  display: block;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.zoomWrapper img:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
  transform-origin: center bottom;

}

@keyframes flash {
  0%   { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

.flasher{
  animation: flash 300ms infinite;
}

.icons {
  display: flex;
  position: absolute;
  flex-direction: column;
  margin-left: 370px;
  margin-top: 35px;
  transition: opacity 1s ease-in-out;
  visibility: hidden;
  img {
    cursor: pointer;
    margin-bottom: 10px;
  }
  opacity: 0;
}

.product-card:hover {
  .icons {
    opacity: 1;
    position: absolute;
    visibility: inherit;
    z-index: 1;
  }
}

.product-orange {
  .zoomWrapper {
    padding: 92px 0px 0px 0px;

  }
  .footer{
    background-color: #FFDAC0;
    opacity: 0;
    p, .price{
      color: #F47820;
    }
  }
  &:hover{
    .footer {
      background-color: #FFDAC0;
      transition: opacity 1s ease-in-out;
      opacity: 1;
    }
  }
}
