.fqa-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    span{
      color: #F47820;
      font-weight: 700;
    }
  }
  .separator{
    width: 905px;
    height: 2px;
    background: #000;
    margin-bottom: 50px;
    margin-top: 20px;
  }

}
