section > app-card-product {
  width: 100%;
  height: auto;
}

.shop-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(426px, 1fr));
  gap: 1px;
}

.title-shop-products{
  margin-top: 46px;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
