.panel {
  width: 905px;
  height: 82px;
  flex-shrink: 0;
  border-radius: 20px;
  background: linear-gradient(84deg, #EEE -84.09%, #969696 212.52%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  p {
    margin-left: 50px;
  }
  img {
    margin-right: 28px;
  }
}
