<section class="container">
    <h3>Top Perks for you</h3>
    <div class="perks-carousel-container">
        <div class="perks-carousel-container__cards">
          <app-card-product *ngFor="let item of perks" [isPerk]="true" [perk]="item"></app-card-product>
        </div>
    </div>
    <div class="top-perk">
        <div class="top-perk__info">
            <h3>Lorem ipsum dolor sit amet consectetur </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
            <button type="button" class="btn btn-success">ipsum dolos</button>
        </div>
        <img class="avatar" src="/assets/images/products/dames-grape.png" alt="">
    </div>
</section>

