@import '../../../styles.scss';

:host section {
   > h3 {
        margin-bottom: 60px;
    }
    .perks-carousel-container {
        display: flex;
        margin-bottom: 120px;
        &__cards {
            display: flex;
            justify-content: space-around;
            align-items: center;
            column-gap: 20px;
        }
    }
    .top-perk {
        display: flex;
        width: 100%;
        height: 387px;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 3rem;
        background: linear-gradient(75.81deg, #000000 15.12%, rgba(244, 120, 32, 0) 271.94%);
        box-shadow: 0px 4px 4px 0px #00000008;
        padding: 3rem;

        &__info {
            display: flex;
            flex-direction: column;
            row-gap: 3rem;
            h3, p {
                color: $color--white;
                width: 60%;
            }
            button {
                width: 30%;
                min-width: 160px;
            }
        }
        img {
            width: 300px;
            height: 300px;
            border-radius: 20px;
        }
    }
}