<section class="container">
    <h3>Top Perks for you</h3>
    <div class="perks-img-container">
        <img class="avatar" src="/assets/images/products/visionary-brew.png" alt="">
        <img class="avatar" src="/assets/images/products/mushrooms-many.png" alt="">
        <img class="avatar" src="/assets/images/products/pure-psilocybin.png" alt="">
    </div>
    <div class="perk-card">
        <div class="perk-card__info">
            <h3>Lorem ipsum dolor sit amet consectetur </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
            <button type="button" class="btn btn-success">ipsum dolos</button>
        </div>
        <img class="avatar" src="/assets/images/products/dames-grape.png" alt="">


    </div>


</section>

