@import '../../../styles.scss';

:host section {
    display: flex;
    flex-direction: column;
   > h3 {
        margin-bottom: 60px;
    }
    .perks-carousel-container {
        display: flex;
        justify-content: center;
        &__cards {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 90%;
            ::ng-deep app-slider {
                width: 100%;
                .next-btn,
                .prev-btn {
                    top: 40% !important;
                }
              }
            .review-card {
                display: contents;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }

        }
    }
    .top-perk {
        display: flex;
        width: 100%;
        height: 387px;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 3rem;
        background: linear-gradient(75.81deg, #000000 15.12%, rgba(244, 120, 32, 0) 271.94%);
        box-shadow: 0px 4px 4px 0px #00000008;
        padding: 3rem;

        &__info {
            display: flex;
            flex-direction: column;
            row-gap: 3rem;
            h3, p {
                color: $color--white;
                width: 60%;
            }
            button {
                width: 30%;
                min-width: 160px;
            }
        }
        img {
            width: 30rem;
            height: 30rem;
            border-radius: 20px;
        }
    }
}

@media (max-width:1199px) and (min-width:992px) {
    :host section {
         .top-perk {
      
             &__info {
                row-gap: 1rem;
                 h3, p {
                     width: 80%;
                 }
             }
         }
     }

    
}

@media (max-width:991px) and (min-width:768px) {
    :host section {
        .top-perk {
            row-gap: 1rem;
            &__info {
                h3 {
                    line-height: 5.3rem;
                }              
                h3, p {
                    width: 100%;
                }
               
            }
        }
    }
    
}

@media (max-width:767px) and (min-width:576px) {
    :host section {
        .top-perk {
            flex-direction: column-reverse;
            row-gap: 1rem;
            height: 100%;
            &__info {
                h3 {
                    line-height: 5.3rem;
                }
              
                h3, p {
                    width: 100%;
                }
            }
        }
    }
    
}
    



@media screen and (max-width:575px) {
    :host section {
        .top-perk {
            flex-direction: column-reverse;
            row-gap: 1rem;
            height: 100%;
            &__info {
                h3 {
                    font-size: 3.7rem;
                    line-height: 5.3rem;
                }
              
                h3, p {
                    width: 100%;
                }
                button {
                    width: 100%;
                }
            }
            img {
                width: 20.8rem;
                height: 20.8rem;
            }
        }
    }

}