@import '../../../styles.scss';

:host section {
    margin-bottom: 80px;
    .subscribe-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 4px 74px 25px #00000008;
        border-radius: 30px;
        background-color: $color--white;
        padding: 2%;
        &__title {
            p {
                color: $color--primary;
            }
        }
        &__form {
            height: 65px;
            border: 1px solid $color--primary;
            border-radius: 15px;
            padding: 1%;
            width: 40%;
            .form-group {
                display: flex;
                input.form-control {
                    border-color: transparent;
                }
            }
            .form-group > * {
                flex: 1 auto;
                height: 40px;
            }
        }
      
    }
}