<section class="container">
<div class="subscribe-container">
   <div class="subscribe-container__title">
    <h3>Subscribing to our newsletters </h3>
    <p>Get weekly insights on new products and offers avialable</p>
   </div>
   <div class="subscribe-container__form">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Your email address">
        <button type="button" class="btn btn-md btn-success">Subscribe</button>
       </div>
   </div>
</div>
</section>

