<section class="container">
   <div class="about-us-header">
    <h3>Getting to <br> Knowing us</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
   </div>
   <div class="about-us-content">
        <div class="about-us-content__card">
            <h3>Lorem ipsum dolor sit a <br> sectetur adipiscing elit sed <br> do eiusmod tempor</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
            <button type="button" class="btn btn-dark">Lorem ipsum dolor sit amet, </button>
        </div>
        <div class="about-us-content__img">
            <img src="assets/images/layout/ellipse16.png" alt="">
        </div>     
   </div>
</section>

