@import '../../../styles.scss';

section {
  background-image: url('/assets/images/layout/Background.svg');
  background-color: $color--primary;
  border-color: $color-gray-light !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 815px;

}
.parent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.card-orange{
  margin-top: 22rem;
}
.card-white {
  margin-top: 25rem;
}

.carosuel {
  position: relative;

}

.carosuel .tex-carousel {
  position: absolute;
  top: 35px;
  left: 35px;
  z-index: 1; /* Colocar encima de la imagen */
  width: 100%;
  max-width: 294px;
  max-height: 194px;
  h6, p {
    letter-spacing: 0em;
    text-align: left;
    color: $color--white;
    font-weight: 600;
  }
  p {
    font-size: 24px;
    line-height: 36px;
  }
  h6 {
    font-size: 15px;
    font-style: italic;
    line-height: 23px;
  }

}


@media (max-width: 996px) {
  .parent {
    flex-direction: column;
    align-items: center;
  }
  .card-orange, .card-white{
    margin-top: 1rem;
  }
}

.title-categories {
  text-align: center;
  margin-top: 90px;
  color: $color--white;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
}

.categories{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: $color--white;
  border-radius: 30px;
  width: 90%;
  height: 563px;
  padding: 30px;

}

.categories-section {
  background-color: $color--primary;;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
