@import '../../../styles.scss';

section {
  background-image: url('/assets/images/layout/background.png');
  background-color: $color--primary;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 815px;

 
}