<section class="container">
  <div class="orders-container">
     <div class="orders-container__title">
      <h3>How your order works</h3>
      <p>let’s get you started</p>
     </div>
      <div class="orders-container__cards">
          <div class="card">
              <p>we aim to provide the best customer experience</p>
              <div class="order-process">
                  <div class="step-1 circle" role="listitem">
                      <p>Place your <br> Order</p>
                  </div>
                  <div class="step-2 circle" role="listitem">
                      <p>Receive a Confirmation Email</p>
                  </div>
                  <div class="step-3 circle" role="listitem">
                      <p>Receive Product Tracking Details</p>
                  </div>
                  <div class="step-4 circle" role="listitem">
                      <p>Get Product to your Door Step</p>
                  </div>
              </div>
          </div>
          <div class="card">
              <p>We are delighted to let you know</p>
              <div class="provinces">
                  <h3>We serve all <br> Provinces <br> in Canada</h3>
              </div>
          </div>
      </div>
  </div>
</section>
