@import '../../../../styles.scss';

.perk-card {
  width: 426px;
  height: 486px;
  border-radius: 20px;
  box-shadow: 0px 4px 39px 0px #0000000A;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $color--white;
  cursor: pointer;
  .perk-card-icons {
      margin: 9px 6px 0 0;
      &__flex {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-around;
      row-gap: 6px;
      img {
          width: 40px;
          height: 30px;
      }
      }
  }
  .perk-card-footer {
      background-color: $color--secondary;
      color: $color--primary;
      padding-top: 8px;
      width: 100%;
      height: 94px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-radius: 0 0 20px 20px;
      p {
          flex: 0 0 50%;
      }
  }
}