@import '../../../styles.scss';

footer {
  padding: 4%;
  background-color: $color-gray-light;
  width: 100%;

  .links-container{
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    ul {
      padding: 0;
    }
    h6 {
      font-family: Poppins;
      font-size: 2rem;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: left;
    }
    li{
      font-family: Poppins;
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 23px;
      letter-spacing: 0em;
      text-align: left;
      color: #969696;
    }
    .link{
      flex: 25%;
    }
    .follow {
      flex: 25%;
      img {
        margin-right: 5px;
      }
    }
  }
  .copyright-container {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:first-child {
      font-family: Poppins;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 23px;
      letter-spacing: 0em;
      text-align: left;
    }
    &__terms {
      display: flex;
      justify-content: space-around;
      gap: 16px;
      .vl {
        border-left: 1px solid #969696;
      }
    }

  }
}




@media (max-width:1199px) and (min-width:992px) {

    
}

@media (max-width:991px) and (min-width:768px) {

    
}


@media (max-width:767px) and (min-width:576px) {

 footer {
    .links-container {
      flex-wrap: wrap;
      .link, .follow {
        flex: 50% !important;
      }
    }
    .copyright-container,
    .copyright-container__terms {
      flex-direction: column;
      gap: 1rem;
    }  
}


}


@media screen and (max-width:575px) {

  footer {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    .links-container, .copyright-container, .copyright-container__terms {
        flex-direction: column;
        gap: 1rem;
    }
}


}