<footer>
    <div class="links-container">
        <div class="link">
            <h6>Cannabises Strains</h6>
            <ul>
                <li>Hybrid</li>
                <li>Sativa</li>
                <li>Indica</li>
            </ul>
        </div>
        <div class="link">
            <h6>Mushroom Spices</h6>
            <ul>
                <li>Saprotrophic</li>
                <li>Dried Magic Mashrooms</li>
                <li>Edibles</li>
                <li>Teas</li>
            </ul>
        </div>
        <div class="link">
            <h6>Interested Links</h6>
            <ul>
                <li>Blog</li>
                <li>FAQ</li>
                <li>Coupons</li>
                <li>Contact</li>
            </ul>
        </div>
        <div class="follow">
            <h6>Follow Us</h6> 
            <img src="assets/images/icons/icon-facebook.svg" alt="">
            <img src="assets/images/icons/icon-instagram.svg" alt="">
        </div>

    </div>

    <hr>

    <div class="copyright-container">
        <span>Copyright @ {{year}}  Three Amigos</span>
        <div class="copyright-container__terms">
            <span>Terms & conditions</span>
            <div class="vl"></div>
            <span>Privacy Policy</span>
            <div class="vl"></div>
            <span>Sales and Refuds</span>
        </div>
        <img src="assets/images/layout/positive-ssl.png" alt="">
    </div>
</footer>